.header{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: right;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 25%);
    position: fixed;
    top: 0;
    width: 98%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(2px);
    background: none;
    margin-top: 1vh;
    margin-left: 0vw;
    z-index: 1;
}
.header-change{
    display: flex;
    height: 7vh;
    align-items: right;
    justify-content: right;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 25%);
    position: absolute;
    top: 0;
    width: 98%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: none;
    margin-top: 1vh;
    margin-left: 1vw;
    z-index: 1;
    color: black;
}
.header-final{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: right;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 25%);
    position: absolute;
    top: 0;
    width: 98%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: #000029;
    margin-left: 1vw;
    z-index: 1;
    color: black;
}
.header-logo{
    margin-left: 1vw;
    height: 8vh;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}
.header-logo i{
    height: 100%;
    width: 100%;
    color: #CFEFEB;
}
.header-links{
    display: flex;
    width: 45%;
    justify-content: right;
}
a.a {
    color: #CFEFEB;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  a.a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #f3f4f0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100;
  }
  a.a:hover:after { 
    width: 100%; 
    left: 0; 
  }
/* a{
    text-decoration: none;
    color: #CFEFEB;
}
a:hover{
    color: #4B0082;
    text-decoration: underline;
    /* font-style: italic; */
    /* text-decoration: underline; */
/* } */
.header-links{
    height: 7vh;
    width: 53vw;
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 1rem;
}
.register button{
    height: 4vh;
    width: 6vw;
    border: 1px solid #CFEFEB	;
    border-radius: 50px;
    background: none;
    color: #CFEFEB;
    transition: all 0.2s;
}
.register button:hover{
    transform: scale(1.2);
    cursor: pointer;
    background-color: #CFEFEB;
    color: #ecf6dc;
    /* text-decoration: underline; */
    /* font-style: italic; */
}
.register button:focus{
    outline: none;
}
.header-change a.a{
    color: rgb(204, 224, 233);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
.header-change a.a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(229, 240, 243);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .header-change a.a:hover:after { 
    width: 100%; 
    left: 0; 
  }
  .header-change i{
    height: 100%;
    width: 100%;
    color: rgb(234, 239, 243);
}